* {
    margin: 0;
    padding: 0;
}


#FrontPageNavbar {
    /* overflow: hidden; */
    /* background-color: #333; */
    position: fixed;
    top: 0;
    width: 100%;


    font-size: 14px;
    font-family: "Chalkduster", fantasy;
    color: #070707;
    padding-inline: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    background-color: white;
    cursor: pointer;

}




.FrontIntro {
    background-image: url("1_v5NRqLcyXIVNaG5KLjKIQA-removebg-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.FrontIntro {


    color: whitesmoke;
    font-family: "Stencil Std", Stencil Std;
    background-image: linear-gradient(#16252d, rgb(57, 57, 78));
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
}