* {
    margin: 0;
    padding: 0;
}


.navbar {
    margin-bottom: 0;
    /* height: 10%; */
}

.nav {


    font-size: 14px;
    font-family: " Copperplate", "Copperplate Gothic Light", fantasy;
    color: #070707;
}




.FrontIntro {
    background-image: url("1_v5NRqLcyXIVNaG5KLjKIQA-removebg-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.FrontIntro {


    color: whitesmoke;
    font-family: "Stencil Std", Stencil Std;
    background-image: linear-gradient(#16252d, rgb(57, 57, 78));
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
}

.all-language-photo {
    width: 70vh;
    height: auto;
}
